In [1]:
import pandas as pd
import pymongo
import csv

In [2]:
client = pymongo.MongoClient("localhost:27017")
airbnbDB = client["Airbnb"]

## Load Customers

In [3]:
customers = pd.read_csv('customer.csv', delimiter='|')
customers['_id'] = customers['cid']
customers=customers.drop(columns=['cid'])
customers

             name        _id
0             Kim  273940743
1          Oliver  143251478
2           Doris  288635322
3            Yang  163790201
4           Kunat  317920443
...           ...        ...
210362    Pawarit  230287718
210363    ปฐมพงษ์  422917562
210364    Michael    9395774
210365      Xylis  301320803
210366  Premkamon  453549937

[210367 rows x 2 columns]

In [4]:
customerCollection = airbnbDB["Customer"]
customerCollection.insert_many(customers.to_dict('records'))

## Load Hosts

In [5]:
hosts = pd.read_csv('host.csv', delimiter=',')
hosts['_id'] = hosts['hid']
hosts['is_super_host'] = hosts['is_super_host'].astype(bool)
hosts['email_verified'] = hosts['email_verified'].astype(bool)
hosts['phone_verified'] = hosts['phone_verified'].astype(bool)
hosts['work_email_verified'] = hosts['work_email_verified'].astype(bool)
hosts['identity_verified'] = hosts['identity_verified'].astype(bool)
hosts = hosts.drop(columns=['hid'])
hosts.head()

,name,since,location,description,response_time,response_rate,acceptance,is_super_host,neighbourhood,email_verified,phone_verified,work_email_verified,identity_verified,picture,thumbnail,url,_id
0,Fawad,2013-01-11,"Siālkot, Punjab, Pakistan","I am tourist, would love to visit different co...",within an hour,1.0,0.0,False,NaN,True,True,False,False,https://a0.muscache.com/im/users/4663219/profi...,https://a0.muscache.com/im/users/4663219/profi...,https://www.airbnb.com/users/show/4663219,4663219
1,Supika,2016-10-23,TH,NaN,NaN,0.0,0.0,False,NaN,False,True,False,False,https://a0.muscache.com/im/pictures/user/abac9...,https://a0.muscache.com/im/pictures/user/abac9...,https://www.airbnb.com/users/show/100840975,100840975
2,Noodee,2019-10-21,TH,NaN,a few days or more,0.0,0.0,False,NaN,True,True,False,True,https://a0.muscache.com/im/pictures/user/3ed3b...,https://a0.muscache.com/im/pictures/user/3ed3b...,https://www.airbnb.com/users/show/303573998,303573998
3,Krit,2019-04-19,"Bangkok, Thailand",NaN,NaN,0.0,1.0,False,NaN,True,True,False,True,https://a0.muscache.com/im/pictures/user/afaec...,https://a0.muscache.com/im/pictures/user/afaec...,https://www.airbnb.com/users/show/256747704,256747704
4,เบนซ์,2018-01-11,"Lak Si, Bangkok, Thailand",ผมเปํ็นคนมีอัธยาศัยดี ไม่สูบบุหรี่ ไม่ดื่มเหล้า,NaN,0.0,0.0,False,NaN,True,True,False,False,https://a0.muscache.com/im/pictures/user/cc8e7...,https://a0.muscache.com/im/pictures/user/cc8e7...,https://www.airbnb.com/users/show/167136634,167136634

In [6]:
hostCollection = airbnbDB["Host"]
hostCollection.insert_many(hosts.to_dict('records'))

## Load Listings

In [29]:
listings = pd.read_csv('listing.csv', delimiter='|')
listings['_id'] = listings['lid']
listings = listings.drop(columns=['lid'])

listings.head()

,name,description,neighbourhood,overview,host,latitude,longitude,property_type,accommodates,bathrooms,...,beds,amenities,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,_id
0,Furnished 1 bedroom condo with beautiful view,🏢Condo For rent: Lumpini Ville Nakhon In-River...,Bang Sue,Its in Lumpini building,4663219,13.843799,100.512203,Entire condo,2,1 bath,...,1.0,"[""Kitchen"", ""Air conditioning"", ""Free parking ...",0.00,0.0,0.0,0.0,0.0,0.00,0.00,645048906856594097
1,Akesin place ngamwongwan,ที่ของฉันใกล้กับร้านอาหารและของกิน และ ขนส่งสา...,Bang Sue,NaN,100840975,13.858900,100.527390,Private room in rental unit,2,1 bath,...,1.0,"[""Wifi"", ""Kitchen"", ""Washer"", ""Air conditionin...",0.00,0.0,0.0,0.0,0.0,0.00,0.00,15636062
2,IMPACT Thunder Dome Muangthong ND condo ( C1 ),NaN,Lak Si,IMPACT ศูนย์แสดงสินค้า 550 m<br />IMPACT Chal...,303573998,13.907330,100.550940,Private room in condo,2,1 bath,...,1.0,"[""Shampoo"", ""Kitchen"", ""Air conditioning"", ""Ha...",4.67,5.0,5.0,5.0,5.0,4.67,4.67,39544047
3,Popular Condo Near IMPACT,คอนโดเมืองทองอยู่ในบริเวณเดียวกับศูนย์แสดงสินค...,Lak Si,คอนโดเมืองทองอยู่ในบริเวณเดียวกับศูนย์แสดงสินค...,256747704,13.907680,100.554060,Private room in condo,2,1 private bath,...,1.0,"[""Shampoo"", ""Air conditioning"", ""TV"", ""Hangers...",4.50,5.0,5.0,5.0,4.0,4.50,4.00,34002624
4,บ้านเบนซ์,เป็นหมู่บ้านขนาดใหญ่มีหลายเฟส บ้านเป็นทาวน์โฮม...,Khlong Sam Wa,NaN,167136634,13.925490,100.720380,Private room in home,2,2 shared baths,...,1.0,"[""Shampoo"", ""Kitchen"", ""Air conditioning"", ""Fr...",0.00,0.0,0.0,0.0,0.0,0.00,0.00,22678899

In [30]:
listingCollection = airbnbDB["Listing"]
listingCollection.insert_many(listings.to_dict('records'))

## Load Calendar

In [13]:
# calendars = pd.read_csv('calendar.csv', delimiter='|')
# calendars['availability'] = calendars['availability'].astype(bool)
# calendars['calendar'] = calendars.to_dict('records')
# calendars = calendars[['property', 'calendar']]
# calendars = calendars.rename(columns={'property':'_id'})
# calendars = pd.DataFrame(calendars.groupby('_id')['calendar'].apply(list))
# # calendars.drop_duplicates(subset=['_id'], inplace=True)

# calendars.head()

# listings = listings.merge(calendars, on='_id')
# listings.head()

In [14]:
calendars = pd.read_csv('calendar.csv', delimiter='|')
calendars['availability'] = calendars['availability'].astype(bool)

calendars

,property,date,availability,min_nights,max_nights,price,adjusted_price
0,645048906856594097,2022-06-20,True,1.0,365.0,890.0,890.0
1,645048906856594097,2022-06-21,True,1.0,365.0,890.0,890.0
2,645048906856594097,2022-06-22,True,1.0,365.0,890.0,890.0
3,645048906856594097,2022-06-23,True,1.0,365.0,890.0,890.0
4,645048906856594097,2022-06-24,True,1.0,365.0,890.0,890.0
...,...,...,...,...,...,...,...
6231640,603257031288352002,2023-06-15,True,1.0,1125.0,800.0,800.0
6231641,603257031288352002,2023-06-16,True,1.0,1125.0,800.0,800.0
6231642,603257031288352002,2023-06-17,True,1.0,1125.0,800.0,800.0
6231643,603257031288352002,2023-06-18,True,1.0,1125.0,800.0,800.0
6231644,603257031288352002,2023-06-19,True,1.0,1125.0,800.0,800.0

In [15]:
calendarCollection = airbnbDB['Calendar']
calendarCollection.insert_many(calendars.to_dict('records'))

## Load Transactions

In [26]:
transactions = pd.read_csv('transactions.csv', delimiter='|')
transactions.rename(columns={'tid':'_id'}, inplace=True)

transactions.head()

,_id,customer,property,start_date,end_date,total_price,review
0,564106023,273940743,39544047,2019-11-09,2019-11-13,2400.0,"Good communication, basic and clean accommodation"
1,566622127,143251478,39544047,2019-11-09,2019-11-10,600.0,"Good, clean, cheap accomodation in proximity t..."
2,568138380,288635322,39544047,2019-11-14,2019-11-20,3600.0,"A nice room, very close to impact arena, also ..."
3,568816394,163790201,39544047,2019-11-18,2019-11-21,1800.0,The landlord sister is really kind and lovely....
4,597651173,317920443,39544047,2020-01-12,2020-01-15,1800.0,"The room was very new, cleand and well funishe..."

In [27]:
transactionCollection = airbnbDB['Transaction']
transactionCollection.insert_many(transactions.to_dict('records'))